<form action="">
    <nb-card>
        <nb-card-header>Ingresar banco</nb-card-header>
        <nb-card-body class="form-grid">
            <div>
                <label class="label">Nombre</label>
                <input type="text" nbInput fullWidth>
            </div>
            <div>
                <label class="label" >Dirección</label>
                <input type="text" nbInput fullWidth>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="primary">Guardar</button>
        </nb-card-footer>
    </nb-card>
</form>
