<div>
    <form action="" [formGroup]="form">
        <nb-card>
            <nb-card-header>Ingresar banco</nb-card-header>
            <nb-card-body class="form-grid">
                <div>
                    <label class="label">Nombre</label>
                    <input formControlName="nombre" type="text" nbInput fullWidth>
                </div>
                <div>
                    <label class="label" >Dirección</label>
                    <input formControlName="direccion" type="text" nbInput fullWidth>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <button nbButton status="primary">Guardar</button>
            </nb-card-footer>
        </nb-card>
    </form>
</div>

<div>
    <app-custom-table
        tableHead="Bancos"
        keyRow="Id"
        [headers]="['#', 'Nombre', 'Dirección', 'Fecha - registra', 'Fecha - actualiza', 'Usuario-Actualiza']"
        [keys]="['Id','Nombre', 'Direccion','FechaRegistro', 'FechaActualiza','UsuarioActualiza']"
        [data]="bancosList"
        [hasEdit]="true"
        [hasDelete]="true"
        (editEmit)="editBanco($event)"
        (deleteEmit)="deleteBanco($event)">
    ></app-custom-table>
</div>

