<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <nb-card>
      <nb-card-header>
        <h5>Traspaso | Formulario</h5>
      </nb-card-header>
      <nb-card-body class="form-grid">
        <div>
          <label class="label">*Almacen Origen:</label>
          <nb-select formControlName="idAlmacenOrigen" fullWidth>
            <nb-option value="0" disabled>Almacenes</nb-option>
            <nb-option *ngFor="let sucursal of sucursalesList" [value]="sucursal.Id">{{sucursal.Nombre}}</nb-option>
          </nb-select>
          <div *ngIf="form.get('idAlmacenOrigen')?.touched && form.get('idAlmacenOrigen')?.invalid">
            <p class="text-danger text-sm italic" *ngIf="form.get('idAlmacenOrigen')?.errors?.['required']">
              Almacen de Origen requerido*
            </p>
          </div>
          <div *ngIf="form.get('idAlmacenOrigen')?.touched && form.get('idAlmacenOrigen')?.invalid">
            <p class="text-danger text-sm italic" *ngIf="form.get('idAlmacenOrigen')?.errors?.['min']">
             Seleccione un Almacen de Origen*
            </p>
          </div>
        </div>
        <div>
            <label class="label">*Almacen Destino:</label>
            <nb-select formControlName="idAlmacenDestino" fullWidth>
              <nb-option value="0" disabled>Almacenes</nb-option>
              <nb-option *ngFor="let sucursal of sucursalesList" [value]="sucursal.Id">{{sucursal.Nombre}}</nb-option>
            </nb-select>
            <div *ngIf="form.get('idAlmacenDestino')?.touched && form.get('idAlmacenDestino')?.invalid">
              <p class="text-danger text-sm italic" *ngIf="form.get('idAlmacenDestino')?.errors?.['required']">
                Almacen de Destino requerido*
              </p>
            </div>
            <div *ngIf="form.get('idAlmacenDestino')?.touched && form.get('idAlmacenDestino')?.invalid">
              <p class="text-danger text-sm italic" *ngIf="form.get('idAlmacenDestino')?.errors?.['min']">
               Seleccione un Almacen de Destino*
              </p>
            </div>
          </div>
          <div>
            <label class="label">*Usuario Envía:</label>
            <nb-select formControlName="usuarioEnvia" fullWidth>
              <nb-option value="0" disabled>Usuarios</nb-option>
              <nb-option *ngFor="let usuario of usuariosList" [value]="usuario.Id">{{usuario.Nombre}}</nb-option>
            </nb-select>
            <div *ngIf="form.get('usuarioEnvia')?.touched && form.get('usuarioEnvia')?.invalid">
              <p class="text-danger text-sm italic" *ngIf="form.get('usuarioEnvia')?.errors?.['required']">
                Usuario Envía requerido*
              </p>
            </div>
            <div *ngIf="form.get('usuarioEnvia')?.touched && form.get('usuarioEnvia')?.invalid">
              <p class="text-danger text-sm italic" *ngIf="form.get('usuarioEnvia')?.errors?.['min']">
               Seleccione un Usuario Envía*
              </p>
            </div>
          </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="primary" [disabled]="!form.valid" type="submit">Guardar</button>
      </nb-card-footer>
    </nb-card>
  </form>