<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <nb-card>
            <nb-card-header>
                <h5>
                    Sucursal | Formulario
                </h5>
            </nb-card-header>
            <nb-card-body class="form-grid">
                <div>
                    <label class="label">Nombre</label>
                    <input type="text" nbInput formControlName="nombre" fullWidth>
                    <div *ngIf="form.get('nombre')?.touched && form.get('nombre')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('nombre')?.errors?.['required']">Nombre requerido*</p>
                    </div>
                </div>
                <div>
                    <label class="label">Dirección</label>
                    <input type="text" nbInput formControlName="direccion" fullWidth>
                    <div *ngIf="form.get('direccion')?.touched && form.get('direccion')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('direccion')?.errors?.['required']">Dirección requerida*</p>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <button nbButton type="submit" status="primary" [disabled]="!form.valid">Guardar</button>
            </nb-card-footer>
        </nb-card>
    </form>

<div>
    <app-custom-table
        tableHead="Sucursales | Tabla"
        keyRow="Id"
        [headers]="['#', 'Nombre', 'Direccion','Fecha registro','Fecha Actualiza', 'Usuario']"
        [keys]="['Id','Nombre', 'Direccion','FechaReg','FechaAct','Usuario']"
        [data]="sucursalesList"
        [hasEdit]="true"
        [hasDelete]="true"
        [hasSearch]="true">
    ></app-custom-table>
</div>