<ng-template #dialog let-data let-ref="dialogRef">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <nb-card>
            <nb-card-header>
                Cambiar Contraseña
            </nb-card-header>
            <nb-card-body>
                <div>
                    <label class="label">Contraseña*</label>
                    <nb-form-field>
                        <input [type]="getInputType()" nbInput formControlName="contrasena" fullWidth>
                        <button type="button" nbSuffix nbButton ghost (click)="toggleShowPassword()">
                            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"></nb-icon>
                        </button>
                    </nb-form-field>
                    <div *ngIf="form.get('contrasena')?.touched && form.get('contrasena')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('contrasena')?.errors?.['required']">Contraseña requerida*</p>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <button nbButton type="submit" status="primary" [disabled]="!form.valid">Guardar</button>
                <button nbButton (click)="ref.close()">Cerrar</button>
            </nb-card-footer>
        </nb-card>
    </form>
</ng-template>
<div>

</div>

<div>
    <app-custom-table
        tableHead="Usuarios | Tabla"
        keyRow="Id"
        [headers]="['#', 'Nombre Usuario', 'Nombre', 'Rol','Id Persona', 'Contraseña', 'Mensaje','Fecha registro','Fecha Actualiza', 'Usuario']"
        [keys]="['Id','Nombre', 'NombreP', 'Rol', 'IdPersona', 'Contrasena','Mensaje','FechaReg','FechaAct','Usuario']"
        [data]="usuariosList"
        [hasEdit]="true"
        [hasDelete]="true"
        [hasSearch]="true"
        (deleteEmit)="deleteUsuario($event)"
        (editEmit)="editUsuario($event)">
    ></app-custom-table>
</div>