<ng-template #dialog let-data let-ref="dialogRef">
    <form [formGroup]="form"  (ngSubmit)="updateEntrada()" novalidate>
        <nb-card>
            <nb-card-header>
                Orden Compra #{{data.Id}}
            </nb-card-header>
            <nb-card-body class="form-grid">
                <div>
                    <label class="label">*Proveedor</label>
                    <nb-select formControlName="idProveedor" fullWidth>
                        <nb-option value = "0" disabled>Proveedores</nb-option>
                        <nb-option *ngFor="let p of proveedoresList" [value]="p.Id">
                            {{p.Nombre}}
                        </nb-option>
                    </nb-select>
                    <div *ngIf="form.get('idProveedor')?.touched && form.get('idProveedor')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('idProveedor')?.errors?.['required']">Proveedor requerido*</p>
                    </div>
                    <div *ngIf="form.get('idProveedor')?.touched && form.get('idProveedor')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('idProveedor')?.errors?.['min']">Seleccione un proveedor válido*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Sucursal</label>
                    <nb-select formControlName="idSucursal" fullWidth>
                        <nb-option value="0" disabled>Sucursales</nb-option>
                        <nb-option *ngFor="let s of sucursalesList" [value]="s.Id">
                            {{s.Nombre}}
                        </nb-option>
                    </nb-select>
                    <div *ngIf="form.get('idSucursal')?.touched && form.get('idSucursal')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('idSucursal')?.errors?.['required']">Sucursal requerida*</p>
                    </div>
                    <div *ngIf="form.get('idSucursal')?.touched && form.get('idSucursal')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('idSucursal')?.errors?.['min']">Seleccione una sucursal válida*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Factura</label>
                    <input type="text" nbInput fullWidth formControlName="factura">
                    <div *ngIf="form.get('factura')?.touched && form.get('factura')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('factura')?.errors?.['required']">Factura requerida*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Fecha Entrega</label>
                    <input formControlName="fechaEntrega" nbInput [nbDatepicker]="fechaEntregaPicker" fullWidth>
                    <nb-datepicker #fechaEntregaPicker></nb-datepicker>
                    <div *ngIf="form.get('fechaEntrega')?.touched && form.get('fechaEntrega')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('fechaEntrega')?.errors?.['required']">Fecha de Entrega requerida*</p>
                    </div>
                </div>
                <div>
                    <label class="label">Fecha Actualiza</label>
                    <input formControlName="fechaActualiza" nbInput [nbDatepicker]="fechaActualizaPicker" fullWidth>
                    <nb-datepicker #fechaActualizaPicker></nb-datepicker>
                </div>
            </nb-card-body>
            <nb-card-footer class="gap-x-5">
                <button nbButton status="primary" type="submit" [disabled]="!form.valid">Guardar</button>
                <button nbButton status="danger" (click)="ref.close()">Cerrar</button>
            </nb-card-footer>
        </nb-card>
    </form>
</ng-template>

<div>
    <nb-tabset>

        <nb-tab tabTitle="Tabla Entradas">
            <app-custom-table
            tableHead="Entradas | Tabla"
            keyRow="Id"
            keyStatus="Estatus"
            [headers]="['#', 'Proveedor', 'Sucursal', 'Factura','Fecha Entrega', 'Fecha Registro','Fecha Actualiza', 'usuario actualiza', 'mensaje']"
            [keys]="['Id','Proveedor', 'Surcursal', 'Factura','FechaEntrega', 'FechaRegistro', 'FechaActualiza','UsuarioActualiza', 'Mensaje']"
            [data]="entradasList"
            [hasSearch]="true"
            [hasDelete]="true"
            [hasEdit]="true"
            [hasStatus]="true"
            [hasDetails]="true"
            (editEmit)="editEntrada($event)"
            (deleteEmit)="deleteEntrada($event)"
            (detailsEmit)="showDetallesEntrada($event)"
        ></app-custom-table>

        </nb-tab>
        <nb-tab tabTitle="Reporte Entradas">
            <div class="mb-5">
                <form [formGroup]="filterFecha"  (ngSubmit)="filter()" novalidate>
                    <h6>
                        Filtrar por fecha
                    </h6>
                    <div class="form-grid">
                        <div>
                            <label class="label">Fecha Inicio</label>
                            <input formControlName="fechaInicio" nbInput [nbDatepicker]="fechaInicio" fullWidth>
                            <nb-datepicker #fechaInicio></nb-datepicker>
                        </div>
                        <div>
                            <label class="label">Fecha Fin</label>
                            <input formControlName="fechaFin" nbInput [nbDatepicker]="fechaFin" fullWidth>
                            <nb-datepicker #fechaFin></nb-datepicker>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button nbButton status="primary" type="submit" [disabled]="!filterFecha.valid">Filtrar</button>
                    </div>
                </form>
            </div>
            <div>
                <app-custom-table
                tableHead="Reporte Entradas | Tabla"
                keyRow="Id"
                [headers]="['#', 'Entrada Ligada', 'Codigo', 'Proveedor','Sucursal', 'Cantidad','Costo', 'Descuento', 'Monto Descuento', 'Cantidad sin Cargo', 'Total', 'Fecha Inicio','Fecha Fin','Usuario Actualiza','FechaRegistro','Estatus']"
                [keys]="['Id','Entrada_Ligada', 'Codigo', 'NombreProveedor','NombreSucursal', 'Cantidad', 'Costo','Descuento', 'MontoDescuento', 'CantidadSinCargo', 'Total', 'FechaInicio', 'FechaFin','UsuarioActualiza','FechaRegistro','Estatus']"
                [data]="reportEntradasList"
                [hasSearch]="true"
                [hasExport]="true"
                (exportEmit)="exportEntradas()"
            ></app-custom-table>
            </div>

        </nb-tab>
    </nb-tabset>

</div>
