<div>
    <app-custom-table
        tableHead="Recetas | Tabla"
        keyRow="Id"
        [headers]="['#', 'Nombre', 'Fecha creación', 'Fecha actualización', 'usuario registra', 'usuario actualiza', 'mensaje']"
        [keys]="['Id','Nombre', 'FechaCreacion', 'FechaActualiza', 'UsuarioRegistra', 'UsuarioActualiza', 'Mensaje']"
        [data]="recetasList"
        [hasSearch]="true"
        [hasEdit]="true"
        [hasDelete]="true"
        [hasDetails]="true"
        (editEmit)="editReceta($event)"
        (deleteEmit)="deleteReceta($event)"
        (detailsEmit)="showDetallesReceta($event)"
    ></app-custom-table>
</div>
