<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <nb-card>
    <nb-card-header>
      <h5>Receta | Formulario</h5>
    </nb-card-header>
    <nb-card-body class="form-grid">
      <div>
        <label class="label">*Nombre</label>
        <input formControlName="nombre" type="text" nbInput fullWidth />
        <div *ngIf="form.get('nombre')?.touched && form.get('receta')?.invalid">
          <p class="text-danger text-sm italic" *ngIf="form.get('receta')?.errors?.['receta']">
            Nombre de receta requerido*
          </p>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" [disabled]="!form.valid" type="submit">Guardar</button>
    </nb-card-footer>
  </nb-card>
</form>
