<form [formGroup]="form"  (ngSubmit)="onSubmit()" novalidate>
    <nb-card>
        <nb-card-header>
            <h5>
                Orden Compra | Formulario
            </h5>
        </nb-card-header>
        <nb-card-body class="form-grid">
            <div>
                <label class="label">*Proveedor</label>
                <nb-select formControlName="idProveedor" fullWidth>
                    <nb-option value = "0" disabled>Proveedores</nb-option>
                    <nb-option *ngFor="let p of proveedoresList" [value]="p.Id">
                        {{p.Nombre}}
                    </nb-option>
                </nb-select>
                <div *ngIf="form.get('idProveedor')?.touched && form.get('idProveedor')?.invalid">
                    <p class="text-danger text-sm italic" *ngIf="form.get('idProveedor')?.errors?.['required']">Proveedor requerido*</p>
                </div>
                <div *ngIf="form.get('idProveedor')?.touched && form.get('idProveedor')?.invalid">
                    <p class="text-danger text-sm italic" *ngIf="form.get('idProveedor')?.errors?.['min']">Seleccione un proveedor válido*</p>
                </div>
            </div>
            <div>
                <label class="label">*Fecha Llegada</label>
                <input formControlName="fechaLlegada" nbInput [nbDatepicker]="dateTimePicker" fullWidth>
                <nb-datepicker #dateTimePicker></nb-datepicker>
                <div *ngIf="form.get('fechaLlegada')?.touched && form.get('fechaLlegada')?.invalid">
                    <p class="text-danger text-sm italic" *ngIf="form.get('fechaLlegada')?.errors?.['required']">Fecha de llegada requerida*</p>
                </div>
            </div>
            <div>
                <label class="label">*Sucursal</label>
                <nb-select formControlName="idSucursal" fullWidth>
                    <nb-option value="0" disabled>Sucursales</nb-option>
                    <nb-option *ngFor="let s of sucursalesList" [value]="s.Id">
                        {{s.Nombre}}
                    </nb-option>
                </nb-select>
                <div *ngIf="form.get('idSucursal')?.touched && form.get('idSucursal')?.invalid">
                    <p class="text-danger text-sm italic" *ngIf="form.get('idSucursal')?.errors?.['required']">Sucursal requerida*</p>
                </div>
                <div *ngIf="form.get('idSucursal')?.touched && form.get('idSucursal')?.invalid">
                    <p class="text-danger text-sm italic" *ngIf="form.get('idSucursal')?.errors?.['min']">Seleccione una sucursal válida*</p>
                </div>
            </div>
            <div>
                <label class="label">*Comprador</label>
                <nb-select formControlName="idComprador" fullWidth>
                    <nb-option value="0" disabled>Compradores</nb-option>
                    <nb-option *ngFor="let c of compradoresList" [value]="c.id">
                        {{c.nombre}}
                    </nb-option>
                </nb-select>
                <div *ngIf="form.get('idComprador')?.touched && form.get('idComprador')?.invalid">
                    <p class="text-danger text-sm italic" *ngIf="form.get('idComprador')?.errors?.['required']">Comprador requerido*</p>
                </div>
                <div *ngIf="form.get('idComprador')?.touched && form.get('idComprador')?.invalid">
                    <p class="text-danger text-sm italic" *ngIf="form.get('idComprador')?.errors?.['min']">Seleccione un comprador válido*</p>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="primary" type="submit" [disabled]="!form.valid">Guardar</button>
        </nb-card-footer>
    </nb-card>
</form>
