
<h5>{{tableHead}}</h5>
<div class="flex flex-col md:flex-row items-center justify-end space-y-3 md:space-y-0 md:space-x-4 p-4">
    <div class="pb-4" *ngIf="hasSearch">
        <label for="table-search" class="sr-only">Buscar</label>
        <div class="relative mt-1">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input [(ngModel)]="elementoBuscado" type="text" id="table-search" class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar">
        </div>
    </div>
    <div class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">
        <button nbButton type="button" status="success">
            Exportar
        </button>
    </div>
</div>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th *ngFor="let header of headers; let i = index" (click)="sortData(keys[i])"scope="col" class="px-6 py-3">
                    <div class="flex items-center">
                        {{header}}
                        <nb-icon 
                        *ngIf="sortKey === keys[i]" 
                        [icon]="sortDirection === 'asc' ? 'arrow-up-outline' : 'arrow-down-outline'"
                        class="ms-2"></nb-icon>
                    </div>
                </th>
                <th *ngIf="hasEdit || hasDelete">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of filtrarDatos" class="bg-white border-b">
                <td *ngFor="let key of keys"class="px-6 py-4">
                   {{row[key]}}
                </td>
                <td *ngIf="hasEdit || hasDelete">
                    <button *ngIf="hasEdit" class="text-blue-600 font-medium hover:underline" (click)="editRow(row)">
                        <nb-icon icon="edit-outline"></nb-icon>
                    </button>
                    <button *ngIf="hasDelete" class="text-red-600 font-medium hover:underline ms-3"(click)="deleteRow(row)">
                        <nb-icon icon="trash-outline"></nb-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
