<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <nb-card>
            <nb-card-header>
                <h5>
                    Existencia | Formulario
                </h5>
            </nb-card-header>
            <nb-card-body class="form-grid">
                <div>
                    <label class="label">Insumo:</label>
                    <nb-select fullWidth formControlName="insumo">
                        <nb-option value="0" disabled="">Insumos</nb-option>
                        <nb-option *ngFor="let insumo of insumosList" [value]="insumo.Insumo">{{insumo.Descripcion}}</nb-option>
                    </nb-select>
                    <div *ngIf="form.get('insumo')?.touched && form.get('insumo')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('insumo')?.errors?.['required']">Insumo requerido*</p>
                    </div>
                </div>
                <div>
                    <label class="label">Almacen:</label>
                    <nb-select formControlName="idAlmacen" fullWidth>
                        <nb-option value="0" disabled="">Almacenes</nb-option>
                        <nb-option [value]="1">Almacen Prueba</nb-option>
                    </nb-select>
                    <div *ngIf="form.get('idAlmacen')?.touched && form.get('idAlmacen')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('idAlmacen')?.errors?.['required']">Almacen requerido*</p>
                    </div>
                    <div *ngIf="form.get('idAlmacen')?.touched && form.get('idAlmacen')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('idAlmacen')?.errors?.['min']">Seleccione un almacen*</p>
                    </div>
                </div>
                <div>
                    <label class="label">Cantidad:</label>
                    <input type="number" nbInput formControlName="cantidad" fullWidth>
                    <div *ngIf="form.get('cantidad')?.touched && form.get('cantidad')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('cantidad')?.errors?.['required']">Cantidad requerida*</p>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <button nbButton status="primary" typE="submit" [disabled]="!form.valid">Guardar</button>
            </nb-card-footer>
        </nb-card>
    </form>
</div>

<div>
    <app-custom-table
        tableHead="Existencias | Tabla"
        keyRow="Id"
        [headers]="['#', 'Insumo', 'Id Almacen', 'Cantidad', 'Fecha','Fecha Actualiza','Usuario']"
        [keys]="['Id','Insumo', 'IdAlmacen', 'Cantidad', 'Fecha','FechaActualiza','UsuarioActualiza']"
        [data]="existenciasList"
        [hasEdit]="true"
        [hasDelete]="true"
        [hasSearch]="true"
        (editEmit)="editExistencia($event)"
        (deleteEmit)="deleteExistencia($event)">
    ></app-custom-table>
</div>