<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <nb-card>
            <nb-card-header>
                <h5>
                    Detalles Entrada #{{idEntrada}} | Formulario
                </h5>
            </nb-card-header>
            <nb-card-body class="form-grid">
                <div>
                    <label class="label">*Artículo</label>
                    <nb-select formControlName="codigo" fullWidth>
                        <nb-option value="0" disabled>Artículos</nb-option>
                        <nb-option *ngFor="let articulo of articulosList" [value]="articulo.Codigo">{{articulo.Descripcion}}</nb-option>
                    </nb-select>
                    <div *ngIf="form.get('codigo')?.touched && form.get('codigo')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('codigo')?.errors?.['codigo']">Artículo requerido*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Cantidad</label>
                    <input formControlName="cantidad" type="number" nbInput fullWidth min="0">
                    <div *ngIf="form.get('cantidad')?.touched && form.get('cantidad')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('cantidad')?.errors?.['required']">Cantidad requerida*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Costo</label>
                    <input formControlName="costo" type="number" nbInput fullWidth min="0">
                    <div *ngIf="form.get('costo')?.touched && form.get('costo')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('costo')?.errors?.['required']">Costo requerido*</p>
                    </div>
                </div>
                <div>
                    <label class="label">*Descuento</label>
                    <input formControlName="cantidad" type="number" nbInput fullWidth min="0">
                    <div *ngIf="form.get('descuento')?.touched && form.get('descuento')?.invalid">
                        <p class="text-danger text-sm italic" *ngIf="form.get('descuento')?.errors?.['required']">Descuento requerido*</p>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <button nbButton status="primary" [disabled]="!form.valid" type="submit">Guardar</button>
            </nb-card-footer>
        </nb-card>
    </form>
</div>

<div>
    <app-custom-table
    tableHead="Detalles Receta | Tabla"
    keyRow="Id"
    [headers]="['#', 'Códgio', 'Artículo', 'Cantidad', 'Costo', 'Descuento', 'Monto Descuento', 'Cantidad sin cargo','Total','Fecha Registro', 'Fecha Actualiza', 'Usuario Actualiza', 'Mensaje']"
    [keys]="['Id', 'Codigo', 'Articulo','Cantidad','Costo', 'Descuento', 'MontoDescuento','CantidadSinCargo','Total','FechaReg','FechaAct', 'UsuarioAct', 'Mensaje']"
    [data]="detallesList"
    [hasDelete]="true"
    (deleteEmit)="deleteDetalle($event)"
    ></app-custom-table>
</div>